#c1{
    display: block;
    color: rgb(255, 38, 0);
    text-align: center;
    font-size: 80px;
}
#c6{
    color: rgb(0, 30, 128);
}
#c9{
    display: block;
    color: rgb(69, 5, 71);
    text-align: center;
    font-size: 50px;

}

#c10{
    display: block;
    color: rgb(108, 126, 11);
    text-align: center;
    font-size: 50px;
    
}
#c11{
    display: block;
    color: rgba(37, 8, 201, 0.938);
    text-align: center;
    font-size: 50px;
}

#c8{display: block;
    color: rgb(42, 58, 5);
    text-align: center;
    font-size: 25px;
}
body{
    margin: 2%;
    padding: 2%;
}
.a{
    color: rgb(179, 15, 15);
    font-size: 50px;
}
.b{
    color: rgb(9, 34, 116);
    font-size: 50px;
}
